<script setup lang="ts">
import CalComponent from "./components/CalComponent.vue";
import HelloWorld_EX from "./components/HelloWorld_EX.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBingings from "./components/AttributeBingings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br /><br />
    <FormBindings />
    <br /><br />
    <ConditionsAndLoops />
    <br />
    <br />
    <AttributeBingings />
    <HandlingUserInput />
    <CalComponent />
    <HelloWorld_EX />
  </div>
</template>

<style scoped></style>
